* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 50%), url(4.jpg); 
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.logo{
    color: #48ff00;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-weight: 800;
}

.icon{
     width: 200px;
    float: left;
    height: 70px;
}

.icon .logo {
    color: #48ff00;
    font-size: 30px;
    letter-spacing: 2px;
}


.logo-img{
    width: 75px;
    height: auto;
    border-radius: 50%;
}

.logo-text{
    color: #48ff00;
    font-size: 28px;
    font-family: 'Arial', sans-serif;
    margin: o;
    text-transform: uppercase;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;


}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #48ff00;
}


.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
    transition: 0.4s ease;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 15px;
}
.menu ul li a:hover {
    color: #48ff00;
    text-shadow: 0 0 10px #48ff00; 
    border-bottom: 2px solid #48ff00;
    padding-bottom: 5px;
}


.content {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
}
.content h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif; 
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}
.content span {
    color: #48ff00;
    font-size: 45px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    max-width: 700px;
}

.cn {
    width: 180px;
    height: 45px;
    background: #48ff00;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s ease;
}
.cn a {
    text-decoration: none;
    color: #000;
}
.cn:hover {
    background-color: #fff;
    box-shadow: 0 0 20px #48ff00;
    transform: scale(1.1);
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #48ff00;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #48ff00;
    border: 2px solid #48ff00;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

@media screen and (max-width: 768px) {
    .main{
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }

    .content h1{
        font-size: 35px;
    }

    .content span{
        font-size: 30px;
    }

    .content p{
        font-size: 14px;
        padding: 0 20px;
    }

    .navbar{
        padding: 0 20px;
    }

    .menu ul li a{
        font-size: 12px;
        margin-left: 10px;
    }

    .search{
        display: none;
    }
}
