*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #48ff00;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #48ff00;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #48ff00;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #48ff00;
    border: 2px solid #48ff00;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

.content .par{
    max-width: 700px;
    font-family: 'segoe ui',arial,sans-serif;
    font-size: clamp(15px,4vw, 18px);
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.content h1{
    font-family: 'Times New Roman', serif;
    font-size: clamp(35px, 10vw, 65px);
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.1;
    margin-left: 50px;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.7);
}

.content h1 span{
    color: #48ff00;
    font-size: inherit;
    display: inline-block;
}

.content .cn{
    width: 180px;
    height: 50px;
    background: #48ff00;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s ease;
    display: block;
    line-height: 50px;
}


.content .cn:hover{
    background-color: #fff;
    transform: scale(1.05);
}



body {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url('2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}